
<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <h1>{{name}} {{lastName}} Life</h1>
            <p><b>{{name}} {{lastName}} was born in {{age.month}} of {{age.year}}</b></p>
            <p><b> {{name}} {{lastName}} main awards include: </b></p>
            <ul>
             {{#each awards}}
             <li><b>{{this}}</b></li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <img src="premio.jpeg" alt="julio">
</div>






 
