
<div class="container">
    <h1>{{name}} {{lastName}} Life</h1>
    <p>{{name}} {{lastName}} was born in {{age.month}} of {{age.year}}</p>
    <p> {{name}} {{lastName}} main awards include: </p>
    <ul>
        {{#each awards}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>




 
